.button {
  display: flex;
  width: 280px;
  height: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
}


@media (min-width: $tablet-width) {
  .button {
    width: 245px;
    height: 52px;

    &--catalog {
      height: 40px;
    }
  }
}
