$bg-white: #ffffff;
$text-light-gray: #444444;
$button: #68b738;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$text-tablet: #111111;
$add-item: #222222;
$green-leaf: #68b738;
$gray-footer: #f2f2f2;
$grass: #5eaa2f;
$border-color:#dbdbdb;
$border-range: #cdcdcd;
$border-range-2: rgba(205, 205, 205, 0.5);
$icon-fill: #666666;
$plus-fill: #ededed;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$invalid: #ff8282;
$label-hover: #bababa;
$gradient: #eaeaea;
$range-tablet: #dcdcdc;
